<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CargoTransportWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserDetails</display-name>
    <servlet-name>UserDetails</servlet-name>
    <servlet-class>cargo.UserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDetails</servlet-name>
    <url-pattern>/UserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>cargo.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>cargo.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Usermainpage</display-name>
    <servlet-name>Usermainpage</servlet-name>
    <servlet-class>cargo.Usermainpage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Usermainpage</servlet-name>
    <url-pattern>/Usermainpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCargo</display-name>
    <servlet-name>AddCargo</servlet-name>
    <servlet-class>cargo.AddCargo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCargo</servlet-name>
    <url-pattern>/AddCargo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Location</display-name>
    <servlet-name>Location</servlet-name>
    <servlet-class>cargo.Location</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Location</servlet-name>
    <url-pattern>/Location</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCargo</display-name>
    <servlet-name>UpdateCargo</servlet-name>
    <servlet-class>cargo.UpdateCargo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCargo</servlet-name>
    <url-pattern>/UpdateCargo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Updatecargo</display-name>
    <servlet-name>Updatecargo</servlet-name>
    <servlet-class>cargo.UpdateCargo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Updatecargo</servlet-name>
    <url-pattern>/Updatecargo</url-pattern>
  </servlet-mapping>
</web-app>